<%= form_for Skeleton.new do |f| %>
  <%= f.error_messages %>


  <div>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>

  <div>
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <%= f.submit %>
<% end %>

