<%= form_for(@skeleton) do |f| %>
  <% if @skeleton.errors.any? %>
    <ul>
      <% @skeleton.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>


  <div>
    <%= f.label :question %>
    <%= f.text_field :question %>
  </div>

  <div>
    <%= f.label :answer %>
    <%= f.text_field :answer %>
  </div>

    <%= f.submit %>

<% end %>
